<h2 id="title">Welcome to Ember</h2>

{{outlet}}

<BsForm @model={{this}} as |form|>
  <form.element @controlType="model-select" @modelName="user" @property="user" as |el|>
    <el.control
      @modelName="user"
      @labelProperty="name"

      @searchEnabled={{false}}
      @triggerClass="form-control"
    />
  </form.element>
</BsForm>